<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
 
 	<!-- 1 注解扫描 -->
 	<context:component-scan 
 		base-package="com.lanou3g.platform.web" />
 	
 	<!-- 2 springmvc注解驱动 -->
 	<mvc:annotation-driven />
 	
 	<mvc:default-servlet-handler />
 	<!-- 不拦截静态资源 -->
 	<mvc:resources location="/js/" mapping="/js/**" />
 	<mvc:resources location="/css/" mapping="/css/**" />
 	<mvc:resources location="/image/" mapping="/image/**" />
 	
 	<!-- 3 配置视图解析器 -->
 	<bean 
 		class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
 		<property name="prefix" value="/WEB-INF/jsps/" />
 		<property name="suffix" value=".jsp" />
 	</bean>
 	

	<!--    配置拦截器    -->
	<mvc:interceptors>
		<!-- 登录拦截器 -->
		<mvc:interceptor>
		<!-- 	拦截路劲 -->
		<mvc:mapping path="/**"/>
		<mvc:exclude-mapping path="/"/>
	    <mvc:exclude-mapping path="/login"/>  
		<mvc:exclude-mapping path="/createImage"/>
		<!-- 	指定拦截器 -->
			<bean class="com.lanou3g.platform.web.interceptor.LoginInterceptor" />
		</mvc:interceptor>
		
	</mvc:interceptors>  
 	
 
</beans>




