<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou3g.platform.dao.SysDictMapper" >
  <resultMap id="BaseResultMap" type="com.lanou3g.platform.pojo.SysDict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dict_tabname" property="dictTabname" jdbcType="VARCHAR" />
    <result column="dict_colname" property="dictColname" jdbcType="VARCHAR" />
    <result column="dict_option" property="dictOption" jdbcType="VARCHAR" />
    <result column="dict_text" property="dictText" jdbcType="VARCHAR" />
    <result column="dict_sort" property="dictSort" jdbcType="INTEGER" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, dict_tabname, dict_colname, dict_option, dict_text, dict_sort, dict_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lanou3g.platform.pojo.SysDictExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lanou3g.platform.pojo.SysDictExample" >
    delete from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lanou3g.platform.pojo.SysDict" >
    insert into sys_dict (id, dict_tabname, dict_colname, 
      dict_option, dict_text, dict_sort, 
      dict_name)
    values (#{id,jdbcType=INTEGER}, #{dictTabname,jdbcType=VARCHAR}, #{dictColname,jdbcType=VARCHAR}, 
      #{dictOption,jdbcType=VARCHAR}, #{dictText,jdbcType=VARCHAR}, #{dictSort,jdbcType=INTEGER}, 
      #{dictName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou3g.platform.pojo.SysDict" >
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dictTabname != null" >
        dict_tabname,
      </if>
      <if test="dictColname != null" >
        dict_colname,
      </if>
      <if test="dictOption != null" >
        dict_option,
      </if>
      <if test="dictText != null" >
        dict_text,
      </if>
      <if test="dictSort != null" >
        dict_sort,
      </if>
      <if test="dictName != null" >
        dict_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dictTabname != null" >
        #{dictTabname,jdbcType=VARCHAR},
      </if>
      <if test="dictColname != null" >
        #{dictColname,jdbcType=VARCHAR},
      </if>
      <if test="dictOption != null" >
        #{dictOption,jdbcType=VARCHAR},
      </if>
      <if test="dictText != null" >
        #{dictText,jdbcType=VARCHAR},
      </if>
      <if test="dictSort != null" >
        #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lanou3g.platform.pojo.SysDictExample" resultType="java.lang.Integer" >
    select count(*) from sys_dict
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_dict
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dictTabname != null" >
        dict_tabname = #{record.dictTabname,jdbcType=VARCHAR},
      </if>
      <if test="record.dictColname != null" >
        dict_colname = #{record.dictColname,jdbcType=VARCHAR},
      </if>
      <if test="record.dictOption != null" >
        dict_option = #{record.dictOption,jdbcType=VARCHAR},
      </if>
      <if test="record.dictText != null" >
        dict_text = #{record.dictText,jdbcType=VARCHAR},
      </if>
      <if test="record.dictSort != null" >
        dict_sort = #{record.dictSort,jdbcType=INTEGER},
      </if>
      <if test="record.dictName != null" >
        dict_name = #{record.dictName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_dict
    set id = #{record.id,jdbcType=INTEGER},
      dict_tabname = #{record.dictTabname,jdbcType=VARCHAR},
      dict_colname = #{record.dictColname,jdbcType=VARCHAR},
      dict_option = #{record.dictOption,jdbcType=VARCHAR},
      dict_text = #{record.dictText,jdbcType=VARCHAR},
      dict_sort = #{record.dictSort,jdbcType=INTEGER},
      dict_name = #{record.dictName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou3g.platform.pojo.SysDict" >
    update sys_dict
    <set >
      <if test="dictTabname != null" >
        dict_tabname = #{dictTabname,jdbcType=VARCHAR},
      </if>
      <if test="dictColname != null" >
        dict_colname = #{dictColname,jdbcType=VARCHAR},
      </if>
      <if test="dictOption != null" >
        dict_option = #{dictOption,jdbcType=VARCHAR},
      </if>
      <if test="dictText != null" >
        dict_text = #{dictText,jdbcType=VARCHAR},
      </if>
      <if test="dictSort != null" >
        dict_sort = #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="dictName != null" >
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou3g.platform.pojo.SysDict" >
    update sys_dict
    set dict_tabname = #{dictTabname,jdbcType=VARCHAR},
      dict_colname = #{dictColname,jdbcType=VARCHAR},
      dict_option = #{dictOption,jdbcType=VARCHAR},
      dict_text = #{dictText,jdbcType=VARCHAR},
      dict_sort = #{dictSort,jdbcType=INTEGER},
      dict_name = #{dictName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>