<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou3g.platform.dao.SysDictDetailMapper" >
  <resultMap id="BaseResultMap" type="com.lanou3g.platform.pojo.SysDictDetail" >
    <id column="detail_id" property="detailId" jdbcType="INTEGER" />
    <result column="dict_type" property="dictType" jdbcType="VARCHAR" />
    <result column="detail_name" property="detailName" jdbcType="VARCHAR" />
    <result column="detail_code" property="detailCode" jdbcType="VARCHAR" />
    <result column="detail_sort" property="detailSort" jdbcType="VARCHAR" />
    <result column="detail_type" property="detailType" jdbcType="VARCHAR" />
    <result column="detail_state" property="detailState" jdbcType="VARCHAR" />
    <result column="detail_content" property="detailContent" jdbcType="VARCHAR" />
    <result column="detail_remark" property="detailRemark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    detail_id, dict_type, detail_name, detail_code, detail_sort, detail_type, detail_state, 
    detail_content, detail_remark, create_time, create_id, update_time, update_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lanou3g.platform.pojo.SysDictDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_dict_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dict_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lanou3g.platform.pojo.SysDictDetailExample" >
    delete from sys_dict_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lanou3g.platform.pojo.SysDictDetail" >
    insert into sys_dict_detail (detail_id, dict_type, detail_name, 
      detail_code, detail_sort, detail_type, 
      detail_state, detail_content, detail_remark, 
      create_time, create_id, update_time, 
      update_id)
    values (#{detailId,jdbcType=INTEGER}, #{dictType,jdbcType=VARCHAR}, #{detailName,jdbcType=VARCHAR}, 
      #{detailCode,jdbcType=VARCHAR}, #{detailSort,jdbcType=VARCHAR}, #{detailType,jdbcType=VARCHAR}, 
      #{detailState,jdbcType=VARCHAR}, #{detailContent,jdbcType=VARCHAR}, #{detailRemark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou3g.platform.pojo.SysDictDetail" >
    insert into sys_dict_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="dictType != null" >
        dict_type,
      </if>
      <if test="detailName != null" >
        detail_name,
      </if>
      <if test="detailCode != null" >
        detail_code,
      </if>
      <if test="detailSort != null" >
        detail_sort,
      </if>
      <if test="detailType != null" >
        detail_type,
      </if>
      <if test="detailState != null" >
        detail_state,
      </if>
      <if test="detailContent != null" >
        detail_content,
      </if>
      <if test="detailRemark != null" >
        detail_remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="dictType != null" >
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="detailName != null" >
        #{detailName,jdbcType=VARCHAR},
      </if>
      <if test="detailCode != null" >
        #{detailCode,jdbcType=VARCHAR},
      </if>
      <if test="detailSort != null" >
        #{detailSort,jdbcType=VARCHAR},
      </if>
      <if test="detailType != null" >
        #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="detailState != null" >
        #{detailState,jdbcType=VARCHAR},
      </if>
      <if test="detailContent != null" >
        #{detailContent,jdbcType=VARCHAR},
      </if>
      <if test="detailRemark != null" >
        #{detailRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lanou3g.platform.pojo.SysDictDetailExample" resultType="java.lang.Integer" >
    select count(*) from sys_dict_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_dict_detail
    <set >
      <if test="record.detailId != null" >
        detail_id = #{record.detailId,jdbcType=INTEGER},
      </if>
      <if test="record.dictType != null" >
        dict_type = #{record.dictType,jdbcType=VARCHAR},
      </if>
      <if test="record.detailName != null" >
        detail_name = #{record.detailName,jdbcType=VARCHAR},
      </if>
      <if test="record.detailCode != null" >
        detail_code = #{record.detailCode,jdbcType=VARCHAR},
      </if>
      <if test="record.detailSort != null" >
        detail_sort = #{record.detailSort,jdbcType=VARCHAR},
      </if>
      <if test="record.detailType != null" >
        detail_type = #{record.detailType,jdbcType=VARCHAR},
      </if>
      <if test="record.detailState != null" >
        detail_state = #{record.detailState,jdbcType=VARCHAR},
      </if>
      <if test="record.detailContent != null" >
        detail_content = #{record.detailContent,jdbcType=VARCHAR},
      </if>
      <if test="record.detailRemark != null" >
        detail_remark = #{record.detailRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_dict_detail
    set detail_id = #{record.detailId,jdbcType=INTEGER},
      dict_type = #{record.dictType,jdbcType=VARCHAR},
      detail_name = #{record.detailName,jdbcType=VARCHAR},
      detail_code = #{record.detailCode,jdbcType=VARCHAR},
      detail_sort = #{record.detailSort,jdbcType=VARCHAR},
      detail_type = #{record.detailType,jdbcType=VARCHAR},
      detail_state = #{record.detailState,jdbcType=VARCHAR},
      detail_content = #{record.detailContent,jdbcType=VARCHAR},
      detail_remark = #{record.detailRemark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou3g.platform.pojo.SysDictDetail" >
    update sys_dict_detail
    <set >
      <if test="dictType != null" >
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="detailName != null" >
        detail_name = #{detailName,jdbcType=VARCHAR},
      </if>
      <if test="detailCode != null" >
        detail_code = #{detailCode,jdbcType=VARCHAR},
      </if>
      <if test="detailSort != null" >
        detail_sort = #{detailSort,jdbcType=VARCHAR},
      </if>
      <if test="detailType != null" >
        detail_type = #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="detailState != null" >
        detail_state = #{detailState,jdbcType=VARCHAR},
      </if>
      <if test="detailContent != null" >
        detail_content = #{detailContent,jdbcType=VARCHAR},
      </if>
      <if test="detailRemark != null" >
        detail_remark = #{detailRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou3g.platform.pojo.SysDictDetail" >
    update sys_dict_detail
    set dict_type = #{dictType,jdbcType=VARCHAR},
      detail_name = #{detailName,jdbcType=VARCHAR},
      detail_code = #{detailCode,jdbcType=VARCHAR},
      detail_sort = #{detailSort,jdbcType=VARCHAR},
      detail_type = #{detailType,jdbcType=VARCHAR},
      detail_state = #{detailState,jdbcType=VARCHAR},
      detail_content = #{detailContent,jdbcType=VARCHAR},
      detail_remark = #{detailRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER}
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
</mapper>